
.container {
  padding: 10px;
  background: #D7D7E3;
}

.heading {
  font-size:35px;
  margin-bottom:5px;
  text-align:center;
  color:rgba(7, 6, 6, 0.789);
  font-family: cursive;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:40px ;
  margin-bottom:5px ;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-transform: capitalize;
}

.form button {
  padding: 10px;
  background-color: #0070f3;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form button:hover {
  background-color: #005bb5;
}

.search {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 40%;
}


.addButton {
  padding: 15px;
  background-color: #6a994e;
  color: #f2e8cf;
  letter-spacing: 2px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 15px;
}

.addButton:hover {
  background-color: #386641;
  /* color: #f2e8cf; */
}

.customerList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.count{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  min-height: 36px;
}

.customerCard {
  background-color: #a8dadc;
  padding: 20px 20px 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: calc(25% - 60px);
  display: grid;
}

.customerCard p {
  margin: 5px 0;
}

.customerCard button {
  width: 50%;
  margin-right: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;

}

.customerCard button:hover {
  background-color: #ddd;
}

.customerTable {
  width: 100%;
  border-collapse: separate; /* Use 'separate' to allow spacing between rows */
  border-spacing: 0 10px; /* Adjust the second value to control row spacing */
}

.customerTable td {
 font-size: 16px;
}

.customerTable .instruction {
  font-weight: bold;
  width: 50%;
}

.dialogOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialogBox {
  background-color: white;
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  z-index: 1001;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dialogBox h2 {
  margin-bottom: 10px;
  font-size: 18px;
  text-align: center;
}

.dialogBox p {
  margin-bottom: 20px;
  font-size: 16px;
  text-align: center;
}

.dialogBox .dialogButtons {
  display: flex;
  justify-content: space-between;
}

.dialogBox .dialogButton {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.dialogBox .dialogButton.cancel {
  background-color: #ccc;
  color: #333;
}

.dialogBox .dialogButton.cancel:hover {
  background-color: #b3b3b3;
}

.dialogBox .dialogButton.confirm {
  background-color: #c1121f;
  color: white;
}

.dialogBox .dialogButton.confirm:hover {
  background-color: #a10e18;
}
.actions {
  display: flex;
  gap: 10px;
  align-items: center;
  height: 100%;
}

.actions button {
  padding: 6px 10px;
  border-radius: 6px;
  border: none;
  height: 70%;
  cursor: pointer;
}

.actions button:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.actions .detailsButton {
  background-color: #a4e8a4; /* Lighter Green */
}

.actions .detailsButton:hover {
  background-color: #8fd38f; /* Slightly darker green */
}

.actions .updateButton {
  background-color: #ffe39c; /* Lighter Yellow */
}

.actions .updateButton:hover {
  background-color: #ffdc64; /* Darker yellow */
}

.actions .deleteButton {
  background-color: #f8c4c4; /* Lighter Red */
}

.actions .deleteButton:hover {
  background-color: #f1a9a9; /* Slightly darker red */
}

/* Bulk Actions Container */
.bulkActionsContainer {
  display: flex;
  justify-content: flex-end;
}

/* Bulk Actions Buttons */
.bulkActions {
  display: flex;
  gap: 10px;
}

/* Styling for the bulk action buttons */
.bulkActionButton {
  padding: 10px 15px;
  background-color: #ff4d4f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.bulkActionButton:hover {
  background-color: #ff1a1f;
}

.bulkActionButton:disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}
