.authContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.authForm {
  width: 25%;
  background-color: #2a9d8f;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.authForm h2 {
  margin-bottom: 20px;
}

.authForm label {
  color: #fff;
}

.authForm .formGroup {
  margin-bottom: 15px;
}

.authForm .formGroup label {
  display: block;
  margin-bottom: 5px;
}

.authForm .formGroup input {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.authForm .button {
  /* margin-left: 10px; */
  width: 95%;
  padding: 10px;
  background-color: #e9c46a;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: center;
  font-weight: bolder;
  font-size: large;
}

.authForm .button:hover {
  background-color: #e76f51;
}

.authForm .toggleButton {
  background: none;
  border: none;
  color: #0070f3;
  cursor: pointer;
  text-decoration: underline;
}

.authForm .toggleButton:hover {
  color: #005bb5;
}

.authForm .error {
  color: red;
  margin-bottom: 10px;
}
